#my-body {
    background-color: #E8DAFF;
    font-family: 'ExtraLight 200', sans-serif;
}

/* Navbar */

.navbar-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(116, 109, 128, 0.2);
    border-radius: 10px;
    padding: 10px 20px;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: max-content;
    margin: 0;
    padding: 0;
    gap: 20px;

}

.navbar-toggler {
    display: none;
}

.navbar-toggler:hover {
    color: #B98EFF;
}

.navbar-nav li {
    margin-right: 20px;
}

.nav-link {
    color: #5D4780;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: #5D4780;
    font-weight: bold;
}

.active {
    color: #5D4780;
    font-weight: bold;
}

/* Hero Section */

.hero-section {
    background-color: rgba(116, 109, 128, 0.2);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 40%;
    width: 80%;
    margin: 105px auto 0;
}

.hero-container {
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 0;
}

.whoami {
    height: 200px;
}

.row h1 {
    font-size: 72px;
    font-weight: lighter;
    color: #5D4780;
}

.row span {
    font-weight: bold;
}

.row h2 {
    font-size: 18px;
    font-weight: lighter;
    color: #5D4780;
}

.row img {
    border-radius: 25px;
    float: right;
}

.main-btns {
    margin-top: 40px;
}

.btn-hire {
    border-radius: 10px;
    background-color: #B98EFF;
    border-color: #B98EFF;
    color: #5D4780;
    padding: 10px 20px;
    margin-right: 20px;
}

.btn-hire:hover {
    background-color: #5D4780;
    font-weight: bold;
    color: #E8DAFF;
    border-color: #5D4780;
}

.btn-services {
    border-radius: 10px;
    background-color: transparent;
    border-color: #5D4780;
    color: #5D4780;
    padding: 10px 20px;
}

.btn-services:hover {
    background-color: #5D4780;
    font-weight: bold;
    color: #E8DAFF;
}

.social-links {
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 60%;
    margin-top: 40px;
}

.social-links a {
    font-size: 30px;
    color: #B98EFF;
}

.social-links a:hover {
    font-size: 30px;
    color: #5D4780;
}

/* Mobile */

@media only screen and (max-width: 768px) {

    .navbar-items {
        display: none;
    }

    .navbar-container {
        width: 90%;
    }

    .navbar-toggler {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        color: #5D4780;
        cursor: pointer;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .hero-section {
        width: 90%;
        margin-bottom: 20px;
    }

    .hero-container {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .whoami {
        height: 120px;
    }

    .row h1 {
        font-size: 42px;
    }

    .row img {
        border-radius: 25px;
        width: 100%;
    }

    .row {
        margin: 0;
    }

    .col-lg-5 {
        order: -1;
    }

    .btn-hire {
        width: 100%;
        margin-bottom: 20px;
    }

    .btn-services {
        width: 100%;
        margin-bottom: 40px;
    }

    .social-links {
        width: 80%;
        margin: 0 auto;
    }
}